<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Work Travels | Home</title>
    <link rel="stylesheet" href="../styles/home-main.css">
    <link rel="stylesheet" href="../styles/home-nav.css">
    <link rel="stylesheet" href="../styles/home-main-txt.css">
    <link rel="stylesheet" href="../styles/Explore-cards.css">
    <link rel="stylesheet" href="../styles/login-form.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <div class="background1"><img src="../assets/mainPageBackground.png" alt=""></div>


    <nav id="nav">
        <ul>
            <li> <a href="#" class="about">About</a> </li>
            <li> <a href="#explore" class="explore">Explore</a> </li>
            <li>
                <a href="./index.html" class="logo"><img src="../assets/mapLogo.svg" alt="">Course Work Travels</a>

            </li>
            <li> <a href="#" class="journel">Journel</a> </li>
            <li>
                <a href="#" class="search"><img src="../assets/search.svg" alt="">Search</a>
            </li>
        </ul>
    </nav>

    <section>
        <div class="main-txt">
            <h1>Say Yes To Adventure.</h1>
            <h2>"Leave Nothing But Footprints. Take Nothing But Pictures. Kill Nothing But Time."</h2>
            <div class="sign">
                <button>Log In</button>

                <h3>Not A Member? <a href="#">Sign Up</a> Now!</h3>
            </div>
        </div>
    </section>

    <span id="explore">
        <div class="explore">
            <div class="text">
                <h1>Explore The World.</h1>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="../assets/countries/Greece/main.jpg" alt="">
                    <div class="info">
                        <h1>Country</h1>
                        <h2>xx Destinations</h2>
                        <ul>
                            <li>User Rating : </li>
                            <li><img class="1" src="../assets/star.svg" alt=""></li>
                            <li><img class="2" src="../assets/star.svg" alt=""></li>
                            <li><img class="3" src="../assets/star.svg" alt=""></li>
                            <li><img class="4" src="../assets/star.svg" alt=""></li>
                            <li><img class="5" src="../assets/star.svg" alt=""></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/countries/France/main.jpg" alt="">
                    <div class="info">
                        <h1>Country</h1>
                        <h2>xx Destinations</h2>
                        <ul>
                            <li>User Rating : </li>
                            <li><img class="1" src="../assets/star.svg" alt=""></li>
                            <li><img class="2" src="../assets/star.svg" alt=""></li>
                            <li><img class="3" src="../assets/star.svg" alt=""></li>
                            <li><img class="4" src="../assets/star.svg" alt=""></li>
                            <li><img class="5" src="../assets/star.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/countries/Germany/main.jpg" alt="">
                    <div class="info">
                        <h1>Country</h1>
                        <h2>xx Destinations</h2>
                        <ul>
                            <li>User Rating : </li>
                            <li><img class="1" src="../assets/star.svg" alt=""></li>
                            <li><img class="2" src="../assets/star.svg" alt=""></li>
                            <li><img class="3" src="../assets/star.svg" alt=""></li>
                            <li><img class="4" src="../assets/star.svg" alt=""></li>
                            <li><img class="5" src="../assets/star.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/countries/italy/main.jpg" alt="">
                    <div class="info">
                        <h1>Country</h1>
                        <h2>xx Destinations</h2>
                        <ul>
                            <li>User Rating : </li>
                            <li><img class="1" src="../assets/star.svg" alt=""></li>
                            <li><img class="2" src="../assets/star.svg" alt=""></li>
                            <li><img class="3" src="../assets/star.svg" alt=""></li>
                            <li><img class="4" src="../assets/star.svg" alt=""></li>
                            <li><img class="5" src="../assets/star.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/countries/Spain/main.jpg" alt="">
                    <div class="info">
                        <h1>Country</h1>
                        <h2>xx Destinations</h2>
                        <ul>
                            <li>User Rating : </li>
                            <li><img class="1" src="../assets/star.svg" alt=""></li>
                            <li><img class="2" src="../assets/star.svg" alt=""></li>
                            <li><img class="3" src="../assets/star.svg" alt=""></li>
                            <li><img class="4" src="../assets/star.svg" alt=""></li>
                            <li><img class="5" src="../assets/star.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </span>

    <div class="login-form-container">
        <form class="login" action="">
            <div class="shape"></div>
            <h1>Login.</h1>
            <h2>Please Enter Your Email and Password.</h2>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>

            <button type="submit">Log In</button>


        </form>


    </div>
    <div class="signup-form-container">
        <form class="signup" action="">
            <div class="shape"></div>
            <h1>Sign Up.</h1>
            <h2>Please Use a Valid Email..</h2>
            <input type="text" placeholder="Username" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>

            <button type="submit">Log In</button>


        </form>
    </div>

    <footer>

    </footer>
</body>

</html>